<%- include('./../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
  </head>
  <body>
    <%- include('./../includes/navigation.ejs') %>

    <main>
      <form action="/admin/add-product" method="POST" class="product-form">
        
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" placeholder="Add product here ..." />
        </div>

        <div class="form-control">
          <label for="imageUrl">Image</label>
          <textarea type="text" id="imageUrl" name="imageUrl" placeholder="Add image here ..." ></textarea>
        </div>

        <div class="form-control">
          <label for="description">Description</label>
          <textarea type="text" id="description" name="description" placeholder="Add description here ..." ></textarea>
        </div>

        <div class="form-control">
          <label for="price">Price</label>
          <input type="number" step="0.01" id="price" name="price" placeholder="Add price here ..." />
        </div>

        <button type="submit">Add Product</button>
      </form>
    </main>
<%- include('./../includes/end.ejs') %>
